# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=2233

# Meme Configuration
LOAD_BUILTIN_MEMES=true
MEME_DIRS=["/data/memes"]
MEME_DISABLED_LIST=[]

# GIF Configuration
GIF_MAX_SIZE=10.0
GIF_MAX_FRAMES=100

# Translation Configuration
BAIDU_TRANS_APPID=
BAIDU_TRANS_APIKEY=

# Log Configuration
LOG_LEVEL=INFO

# Resource Configuration
RESOURCE_URL=